.header{
  padding: 150px,0;
  background-color: #ffffff;
}

.header-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 0px solid;
}

.Logo {
  background-image: url(D:\eclipse\nmbvc\CFP\React\my-first-app\src\assets\images\logo.png);
}

.logo-content{
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 0px solid green;
  width: 80%;
}

.emp-text{
  font: normal normal bold 20px/25px Montserrat;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0px;
  color: #82a70c;
  text-transform: capitalize;
}

.emp-payroll{
  color: #42515f;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}